<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table {
      text-align: center;
      border: 1px solid #000;
      border-collapse: collapse;
    }

    table thead {
      background: #e6e6e6;
    }

    th,
    td {
      padding: 8px 16px;
      border: 1px solid #000;
    }

    tbody tr {
      cursor: pointer;

    }

    /* tbody tr:hover {
      background: #f5f5f5;
    } */

    tfoot {
      font-weight: 700;
      text-align: left;
    }

    .active {
      background-color: skyblue;
    }
  </style>
</head>

<body>
  <!-- 1. 指定id为app的容器 -->
  <div id="app">
    <template v-if="books.length">
      <table>
        <thead>
          <tr>
            <td>序号</td>
            <td>书籍名称</td>
            <td>出版日期</td>
            <td>价格</td>
            <td>购买数量</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody>
          <tr :class="{ active: index === currentIndex }"
              v-for="(item, index) in books"
              :key="index"
              @click="tableRowClick(index)">
            <td>{{ index + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.date }}</td>
            <td>{{ formatPrice(item.price) }}</td>
            <td>
              <button @click="decrement(item)">-</button>
              {{ item.count }}
              <button @click="increment(item)">+</button>
            </td>
            <td>
              <button @click="removeBook(index)">移除</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">总价: {{ formatPrice(totalPrice) }}</td>
          </tr>
        </tfoot>
      </table>
    </template>

    <template v-else>
      <h2>当前购物车中没有任何书籍, 请添加喜欢的书籍到购物车</h2>
    </template>
  </div>

  <!-- 2. 本地通过相对路径的形式引入Vue -->
  <script src="../lib/vue.js"></script>
  <script src="./data/data.js"></script>

  <script>
    // 3.使用Vue
    const app = Vue.createApp({
      data() {
        return {
          books: books,
          currentIndex: -1
        }
      },
      computed: {
        totalPrice() {
          // reduce
          return this.books.reduce((preValue, item) => {
            return preValue + item.price * item.count
          }, 0)
        }
      },
      methods: {
        formatPrice(price) {
          return '¥' + price
        },
        decrement(item) {
          item.count--
        },
        increment(item) {
          item.count++
        },
        removeBook(index) {
          this.books.splice(index, 1)
        },
        tableRowClick(index) {
          this.currentIndex = index
        }
      }
    })

    // 4.挂载app
    app.mount('#app')
  </script>
</body>

</html>